@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #222;
    font-family: 'Gilroy';
}

* {
    font-family: 'Gilroy';
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* REMOVE SPINNERS FROM NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.calories-container {
    position: absolute;
    width: 360px;
    height: 780px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #0a3300;
}

.calories-container .app-title {
    margin-top: 70px;
    margin-left: 20px;
}

.calories-container .app-title a {
    color: #FFF;
}

.calories-container .app-title a b {
    font-family: 'Gilroy Bold';
}

.calories-header {}

.calories-header .total {
    margin-top: 45px;
    margin-left: 20px;
}

.calories-header .total .title {
    color: #FFF;
    font-size: 1em;
    font-family: 'Gilroy Bold';
}

.calories-header .total .value {
    color: #FFF;
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Gilroy Bold';
}

.calories-header .profile {
    display: block;
    width: 310px;
    margin: 35px auto 0;
    line-height: 1.7em;
    text-align: center;

}

.calories-header .profile .income,
.chart,
.out {
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.calories-header .profile .income .title {
    color: #FFF;
    opacity: 0.5;
}

.calories-header .profile .income .income-total {
    color: #FFF;
    font-family: 'Gilroy Bold';
}

.calories-header .profile .out .title {
    color: #FFF;
    opacity: 0.5;
}

.calories-header .profile .out .outcome-total {
    color: #25a000;
    font-family: 'Gilroy Bold';
}

/*/////////////   DASHBOARD    /////////////*/
.calories-dashboard {
    display: block;
    width: 360px;
    height: 470px;
    background-color: #FFF;
    margin-top: 35px;
    border-radius: 30px 30px 0 0;
}

.calories-dashboard .dash-title {
    display: inline-block;
    color: #1a0034;
    font-size: 1.7em;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Gilroy Bold';
}

.toggle {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}

.toggle .tab1,
.tab2,
.tab3 {
    display: inline-block;
    cursor: pointer;
    font-size: 1.1em;
    color: #1a0034;
    font-family: 'Gilroy Bold';
    opacity: 0.4;
}

.toggle .tab2,
.tab3 {
    margin-left: 10px;
}

.active {
    opacity: 1 !important;
}

.hide {
    display: none;
}

.calories-dashboard input {
    /* MAKE INPUT SELECTABLE */
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

/* ////////// ALL ///////////// */
.calories-dashboard #all {
    width: 360px;
    height: 339px;
    position: relative;
}

.calories-dashboard #all ul {
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
}

.calories-dashboard #all ul.list li {
    position: relative;
    font-size: 1em;
}

.calories-dashboard #all ul.list li * {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.calories-dashboard #all ul.list li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    ;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
}

.calories-dashboard #all ul.list li #edit {
    visibility: hidden;
}

.calories-dashboard #all ul.list li #delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.calories-dashboard #all ul.list li.income {}

.calories-dashboard #all ul.list li.outcome {
    color: #25a000;
}

/* //////// EXPENSE ////////// */
.calories-dashboard #outcome {
    width: 360px;
    height: 339px;
    position: relative;
}

.calories-dashboard #outcome .input {
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.calories-dashboard #outcome .input * {
    display: inline-block;
    vertical-align: middle;
}

.calories-dashboard #outcome .input input#outcome-title-input {
    height: 40px;
    width: 150px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.calories-dashboard #outcome .input input#outcome-amount-input {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.calories-dashboard #outcome .input .add-outcome img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.calories-dashboard #outcome ul {
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
}

.calories-dashboard #outcome ul.list li {
    position: relative;
    font-size: 1em;
}

.calories-dashboard #outcome ul.list li * {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.calories-dashboard #outcome ul.list li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    ;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
    color: #25a000;
}

.calories-dashboard #outcome ul.list li #edit {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.calories-dashboard #outcome ul.list li #delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/* /////// INCOME //////// */
.calories-dashboard #income {
    width: 360px;
    height: 339px;
    position: relative;
}

.calories-dashboard #income .input {
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.calories-dashboard #income .input * {
    display: inline-block;
    vertical-align: middle;
}

.calories-dashboard #income .input input#income-title-input {
    height: 40px;
    width: 150px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.calories-dashboard #income .input input#income-amount-input {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-left: -10px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.calories-dashboard #income .input .add-income img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.calories-dashboard #income ul {
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
}

.calories-dashboard #income ul.list li {
    position: relative;
    font-size: 1em;
}

.calories-dashboard #income ul.list li * {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.calories-dashboard #income ul.list li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    ;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
}

.calories-dashboard #income ul.list li #edit {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.calories-dashboard #income ul.list li #delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}